/* You touch this, you die */
.home-main-section {
    display:flex;
    justify-content: center;
    margin: auto;
}

.home-main-section .chandelier {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.home-main-section .chandelier h1 {
    position: absolute;
    left: -60%;
    top: 5%;
    text-shadow: 1px 1px #000000;
}

.home-main-section .chandelier img{
    z-index: 50;
    margin: 0 auto;
    width: 110%;
    height: auto;
}
/* More specific */
.title {
    z-index:50;
    font-family: "Libre Baskerville", Arial, sans-serif;
    font-weight: 500px;
    font-size: 11rem;
    text-align: center;
    margin: auto;
}

.text-wrapper {
    text-align:center;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 30px;
}

.subtitle a {
        color: inherit;
        text-decoration: none;
    }
    
.subtitle a:hover{
        color: #adadad;
}

/* I don't even know, man */
@media (max-width: 900px) {
    .home-main-section img {
        display:none;
    }

    .home-main-section h1 {
        text-align:center;
        margin: auto;
        font-size: 8vw;
        float:none;
    }

}
